/* basic styles, fonts and effects */

body{
  background-color: black; 
  color: white;
}

.body-font {
font-family: upgrade-lights, sans-serif;
font-weight: 400;
font-style: normal; }

.header-font {
font-family: bebas-neue-rounded, sans-serif;
font-weight: 400;
font-style: normal; 
letter-spacing: 0.25rem;}

.sub-font{
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.news-spacing {
  margin-top: 50px;
  margin-bottom: 20px;
}

.icon-color {
  color: #f36e21;
}

.btn.btn-hover {
  border-color: #f36e21; 
  color: #f36e21;
  box-shadow: 0 4px #f36e21;
  transition: all 500 ease; }
  
  .btn.btn-hover:hover {
  background-color: black;
  color: white; }
  
  .btn.btn-hover:active {
  transform: translateY(4px); }

  .champ-img1, .champ-img2, .mclaren-img1 .mclaren-img2 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    
  .champ-img1, .champ-img2, .mclaren-img2{
    width: 100%;
    height: 100%; }
    
  .mclaren-img1 {
    width:100%;
    margin-top: 3rem;
  }
  .wow {
    visibility: hidden;
  }
  
  .card .card-body .card-text {
    color: black;
    font-size: 1rem;
  }
  
  footer input, textarea{
    color: honeydew !important;
  }
  .card.card-cascade.wider .card-body.card-body-cascade .card-footer{
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  
  .card.card-ecommerce .card-footer {
    background-color: transparent;
  }
  
  .card-body.card-body-cascade.text-center{
    margin: 0 0.25rem 0.25rem;
    background: white;
  }
  .card.card-cascade.wider{
    background-color: rgb(63,106,151);
  }
  .card-img-top {
    height:100%;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  #mc_embed_signup {
    background:#fff; 
    clear:left;  
    font-family: upgrade-lights, sans-serif;
    font-weight: 200;
    font-style: normal; 
  }
  
  #mc_embed_signup form {
    text-align: left;
  }
  
  .blog-icon {
    color: #f36e21;
    text-align: right;
    padding-top: 10rem;
    padding-right: 2rem;
  }
  .fa-11x {
    font-size: 15rem;
  }
  
  p {
    margin: 1rem 0;
  }
  
  .fa-nav {
    padding-top: 0.5rem;
  }
  
  .partners-logo {
    height: 100%;
    width: 100%;
  }
  .logo-cont {
    background-color: white;
    height:15rem;
  }

/* nav */

.navbar.navbar-expand-lg.navbar-dark.nav-bg, .navbar.navbar-expand-sm.navbar-dark.nav-bg{
background-color: black; }

#main-nav {
  top:0;
}

.nav-style {
  text-align: right;
}
.navicons-style {
  justify-content: flex-end;
}

/* home section */
#home {
  height: 100vh;
}
.head-cont {
  height: 100vh;
}

.section-container {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%; }

/* parallax */
.par-head ,.par-mid, .par-bottom, .par-news{
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover; }

.par-head {
background-image: url("../img/1 - Monza/3S3A7005.jpg");
background-position-x: 75%;
min-height: 100%; }

.par-mid {
background-image: url("../img/1 - Monza/A38I5247.jpg");
min-height: 100%;
height: 50rem;}

.par-news {
background-image: url("../img/570S GT4-2 1900.jpg");
min-height: 100%; }

.par-bottom {
  background-image: url("../img/570S GT4-6 1900.jpg");
  min-height: 50rem; }

/* horizontal lines */

h1.header-font {
letter-spacing: 1rem;
text-underline-position: below;
color: white; }

hr.new1, hr.new2, hr.new3, hr.new4, hr.new5, hr.new6, hr.new7, hr.new8 {
border-top: 3px solid #f36e21;
}

/* about */
#about {
background-image: url("../img/1 - Monza/A38I5209.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
background-position-y: unset;
width: 100%;
height: 100%;}


.about-sec {
opacity: 0.8;
background-color: black; 
height: 100%;
position: relative;
}

.about-container {
  padding: 1rem 2rem;
  height: 100%;
}

/* mclaren */

#mclaren .container-fluid .row .col-sm-6.d-none.d-sm-none.d-xl-block {
  height: 100%;
}

/* media queries */
@media (max-width: 539px) {
  .navbar-brand img{
      width: 200px;
      height: 25px;
  }
  .container {
  flex-direction: column;
  }

  .tx-cont2 {
  order: 1;
  }

  .chmp-img2{
  order: 2;
  }

  .nav-style {
    text-align: center;
  }

  .navicons-style {
    justify-content: center;
  }
}

@media (min-width: 540px) {
  #main-nav {
    top: -100%;
    width: 100%;
    transition: top 0.3s; }
}

@media (max-width: 767px) {
  hr.new2 {
      width: 8.9rem;
  }
  
  hr.new3 {
      width: 15.4rem;
  }
  
  hr.new4 {
      width: 7.25rem;
  }
  
  hr.new5 {
      width: 4.25rem;
  }
  hr.new6 {
      width: 100%;
  }
  hr.new7 {
      width: 100%;
  }
  hr.new8 {
      width: 7.5rem;
  }
}


@media (min-width: 768px) {
  .par-head, .par-mid, .par-bottom, .par-news {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  
  .par-head {
  background-image: url("../img/1 - Monza/3S3A7005.jpg");
  min-height: 100%; }
  
  .par-mid {
  background-image: url("../img/1 - Monza/A38I5247.jpg");
  min-height: 100%; }

  .par-news {
  background-image: url("../img/570S GT4-2 1900.jpg");
  min-height: 100%; }

  .par-bottom {
  background-image: url("../img/570S GT4-6 1900.jpg");
  min-height: 100%; }

  hr.new1, hr.new2, hr.new3, hr.new4, hr.new5, hr.new8 {
  border-top: 3px solid #f36e21;
  width: 0px;
  transition: width 1.5s ease-in; }

  .section-container {
      top: 70%; }
  
  .contact-information {
      margin-top: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 4rem 0;
  }
  .blog-icon {
      padding-top: 10rem;
      padding-right: 2rem;
  }
  .fa-11x {
      font-size: 15rem;
  }
  
}

@media (min-width: 1024px) and (max-width: 1439px) {
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 6rem 0;
  }
  .blog-icon {
      padding-top: 15rem;
      padding-right: 4rem;
  }
  .fa-11x {
      font-size: 12rem;
  }
  .about {
      height: 50rem;
  }
}

@media (min-width: 1440px) and (max-width: 2559px){
  .body-font {
  font-size: 1.5rem;}

  .header-font {
      font-size: 4rem;
  }
  .header-font.wow.fadeInRightBig.pt-4 {
      letter-spacing: 0.5rem;
  }
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 7rem 0;
  }
  #about {
      height: 950px;
  }
  .about-container {
      padding: 6rem;
  }
  .about-text{
    padding-top: 2rem;
  }
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 4rem 0;
  }

}

@media (min-width: 1440px) and (max-width:1739px) {
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 20rem 0;
  }
  .blog-icon {
      padding-top: 15rem;
      padding-right: 10rem;
  }
  .fa-11x {
      font-size: 15rem;
  }
}

@media (min-width:1740px) and (max-width:2199px) {
  .blog-icon {
      padding-top: 25rem;
      padding-right: 10rem;
  }   
}
@media (min-width: 2200px) {
  .blog-icon {
      padding-top: 30rem;
      padding-right: 10rem;
  }
  .fa-11x {
      font-size: 30rem;
  }
}

@media (min-width: 2560px){
  #championship .container-fluid .col-sm-6 .body-font {
      padding: 11rem 0;
  }
  #mclaren .container-fluid .col-sm-12.col-xl-6 {
      padding: 2rem 1rem;
  }
  h1.header-font {
      font-size: 6rem;
  }
  .header-font {
      font-size: 4.5rem;
  }
  .body-font {
      font-size: 2.5rem;
  }
  .container {
      max-width: 1600px;
  }
  #about {
      height: 50rem;
  }
  .about-text {
      padding-top: 5rem;
  }
  .about-container {
      padding: 2rem 5rem;
  }
  #news .body-font.wow {
      padding-top: 2rem;
  }
  #news .card .card-body .card-title {
      font-size: 2rem;
  }
  #news .card .card-body .card-text {
      font-size: 1.5rem;
  }
}
